:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background_color: #1f2460;
  --wite: #d5dbff;
  --Transparent_wite: #d5dbff7b;
  --more_black: #000431;
  --black: #000751;
  --background_orange: #342304;
}

h1,h2,h3,h5,h6,p {
  color: var(--wite);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background_color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 6px 14px;
  background-color: orange;
  font-size: 15px;
  font-weight: 800;
  border-radius: 30px;
  color: #342304;
  border: none;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:active {
  background-color: #855600;
}

input {
  width: 100%;
  padding: 15px 8px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--wite);
}

.error_input {
  background-color: #ff00001f;
}

.error_input2 {
  background-color: #f98787;
}

.error_input2::placeholder {
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}


.clk_i {
  cursor: pointer;
}
